.mobile-activity-navigation {
  position: absolute;
  bottom: var(--grid-row);
  left: 0;
  right: 0;
}

.mobile-activity-navigation__item {
  display: flex;
  height: auto;
}

.mobile-activity-navigation__button {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: var(--c-white);
  border: 2px solid var(--c-white);
  border-radius: 2px;
  outline: none;
}

.mobile-activity-navigation__image-wrap {
  position: relative;

  display: block;
  width: 100%;
  height: 0;
  padding-top: 62.5%;
  flex-shrink: 0;
  flex-grow: 0;
}

.mobile-activity-navigation__image-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mobile-activity-navigation__image {
  display: block;
  width: 100%;
  height: 100%;
}
.mobile-activity-navigation__name {
  height: 100%;
  width: 100%;
  padding: 0.6em 1.2em;
  box-sizing: border-box;
  margin-top: auto;

  font-family: var(--ff-title-heucha);
  font-size: 1rem;
  font-weight: 400;
  color: var(--c-black);
  text-align: left;
}

/*==== scrollbar ====*/

.mobile-activity-navigation__slider {
  padding-bottom: var(--grid-row);
}
.mobile-activity-navigation .swiper-scrollbar {
  left: var(--grid-side);
  right: var(--grid-side);
  bottom: 0;

  width: auto;
}

.mobile-activity-navigation .swiper-scrollbar-drag {
  background: rgba(255, 255, 255, 0.5);
}
.mobile-activity-navigation .swiper-scrollbar-drag:hover {
  background: var(--c-white);
}
.mobile-activity-navigation .swiper-scrollbar {
  background: rgba(255, 255, 255, 0.25);
}
